<!DOCTYPE html>
<html>
<head>
    <title>Radioactive</title>
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
</head>
<body>
    <div class="box">
        <header>
            <h1>Radioactive</h1>
        </header>
        <section>
            <img src="http://illusion.scene360.com/wp-content/uploads/2014/10/computergraphics-album-covers-2014-03.jpg" width="300" />
            <h2>
                Coldplay - Sparks
            </h2>
        </section>
        <footer></footer>
    </div>
</body>
</html>