<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Radioactive</title>
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="~/css/site.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans&amp;subset=latin" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300&amp;subset=latin" rel="stylesheet" type="text/css" />
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        var options = { rate: 1.5 };
        var voice = "Swedish Female";

        var texts = {
            intro: [
                "Radioactive, din kajplats i etern!",
                "Radioactive, ditt ljus i mörket!",
                "Radioactive, din mistlur i dimman"
            ],
            welcome: [
                "Välkommen till Radioactive i Dublin",
                "Årets konferans presenteras i sammarbete av Radioactive"
            ],
            introSong: [
                "Nästa låt som ska spelas är {song} som framförs av {artist}!"
            ]
        };

        function getRandomPart(parts) {
            return parts[Math.floor(Math.random() * parts.length)];
        }

        function speakIt(text) {
            return new Promise(function (resolve) {
                var opt = {};
                $.extend(opt, options, { onend: resolve });
                responsiveVoice.speak(text, voice, opt);
            });

        }

        function speakSong(artist, song) {
            var text = getRandomPart(texts.introSong);

            text = text.replace("{song}", song);
            text = text.replace("{artist}", artist);

            return speakIt(text);
        }

        function speak(parts) {
            var text = getRandomPart(parts);
            return speakIt(text);
        }

        function start() {

            speak(texts.intro)
                .then(function() {
                    return speak(texts.welcome);
                });
        }

        // spotify
        var result;
        var trackstoplay = [];
        var imagesToShow = [];
        var tracksResult;
        function StartPlayer() {

            /*
            audioObject = null;
               audioObject = new Audio("https://p.scdn.co/mp3-preview/07dbfe8eb7729d99a182b26fa1ec2f3467ba86f5");
                 audioObject.play();

               document.getElementById('album_art').src="https://i.scdn.co/image/3ab3bf19102d17ee65ba07761a64cffd38e3fe47";

           */

            searchAlbums('abba').then(function (result) {

                if (result != null && result.albums != null) {
                    result.albums.items.forEach(function (item) {

                        fetchTracks(item.id).then(function (tracksResult) {

                            trackstoplay.push(tracksResult.tracks.items[0].preview_url);
                            imagesToShow.push(item.images[1].url);
                        });

                    });
                }
            });
            //	alert(result);
        }
        var fetchTracks = function (albumId) {
            return $.ajax({
                url: 'https://api.spotify.com/v1/albums/' + albumId,
                success: function (response) {
                    tracksResult = response;
                }
            });
        };

        var searchAlbums = function (query) {
            return $.ajax({
                url: 'https://api.spotify.com/v1/search',
                data: {
                    q: query,
                    type: 'album'
                },
                success: function (response) {
                    result = response;

                }
            });
        };

    </script>
</head>
<body>
<p class="action">Try it: <button onclick="start();">Speak It</button>
</p>
    <input value="Start" type="button" onclick="StartPlayer();" />

    <div class="box">
        <header>
            <h1>Radioactive</h1>
        </header>
        <section>
            <img src="http://illusion.scene360.com/wp-content/uploads/2014/10/computergraphics-album-covers-2014-03.jpg" width="300" />
            <h2>
                Coldplay - Sparks
            </h2>
        </section>
        <footer></footer>
    </div>
</body>
</html>
